/* Tipografía Quicksand */
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Quicksand';
  src: url('./assets/fonts/Quicksand/Quicksand-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@import "tailwindcss";

@theme {
  --font-sans: 'Quicksand', system-ui, sans-serif;

  --color-st: #33AA6F;       /*1st - first*/
  --color-nd: #2AA099;       /*2nd - second*/

  /*Color Gray*/
  --color-gray600: #c9cbcc;
  --color-gray700: #949899;
  --color-gray800: #5e6465;
  --color-gray900: #283032;

  --color-green: #33aa6f;

  /* Color BG */
  --color-bg-st: #f4fbf8;

  /* Gradients */
  --gradient-st: linear-gradient(45deg, var(--color-st), var(--color-nd));
  
  /* Animación de latido */
  --animate-heartbeat: heartbeat 1.5s ease-in-out infinite;
  @keyframes heartbeat {
    0% {
      transform: scale(1);
    }
    14% {
      transform: scale(1.2);
    }
    28% {
      transform: scale(1);
    }
    42% {
      transform: scale(1.2);
    }
    70% {
      transform: scale(1);
    }
  }
}
@layer components {
  .title {
    @apply text-4xl font-bold text-center sm:text-5xl;
    text-shadow: 0.5px 0 0 currentColor;
    -webkit-text-stroke: 0.3px;
  }
  .description{
    @apply text-lg text-center sm:text-xl;
  }
  
}