@import "tailwindcss";

@theme {
  --color-st: #33AA6F;       /*1st - first*/
  --color-nd: #2AA099;       /*2nd - second*/

  /*Color Gray*/
  --color-gray600: #c9cbcc;
  --color-gray700: #949899;
  --color-gray800: #5e6465;
  --color-gray900: #283032;

  --color-green: #33aa6f;

  /* Color BG */
  --color-bg-st: #f4fbf8;

  /* Gradients */
  --gradient-st: linear-gradient(45deg, var(--color-st), var(--color-nd));
}
@layer components {
  .title {
    @apply text-4xl font-bold text-center sm:text-6xl;
  }
  .description{
    @apply text-lg text-center sm:text-2xl;
  }
}