.paused .shape1,
.paused .shape2,
.paused .shape3 {
  animation-play-state: paused;
}

.shape1 {
  top: 0%;
  left: 30%;
  animation: moveShape1 66s infinite;
} 
@keyframes moveShape1 {
  0% {
    transform: translateX(0) translateY(0);
  } 12% {
    transform: translateX(500%) translateY(20%);
  } 56% {
    transform: translateX(0%) translateY(200%);
  } 68% {
    transform: translateX(-200%) translateY(-100%);
  } 100%{
    transform: translateX(0) translateY(0);
  }
} 
.shape2 {

  animation: moveShape2 66s infinite both;
}
@keyframes moveShape2 {
  0% {
    top: 55%;
  left: 60%;
  } 36% {
    top: 40%;
  left: -5%;
  } 45% {
    top: -10%;
    left: 60%;
  } 77% {
    top: 30%;
    left: 100%;
} 91% {
  top: -30%;
left:70%;
  } 100%{
    top: 55%;
  left: 60%;
  }
}
.shape3 {
  top: 60%;
  left: 120%;
  animation: moveShape3 66s infinite both;
}
@keyframes moveShape3 {
  0% {
    top: 30%;
    left: 40%;
} 10% {
  top: 63%;
left: -24%;
  } 44% {
    top: -20%;
  left: 0%;
  } 57% {
     top: 5%;
  left: 70%

  } 88% {
    top: 60%;
  left: 120%;
  } 100%{
    top: 30%;
    left: 40%;
  }
}